/* &display=swap */
@import "null.css";

/* ===================================================*/
[class*="__container"] {
	max-width: 1275px;
	padding: 0px 15px;
	margin: 0px auto;
}
/* ====================================================*/

/* ================job================================== */
